/* .container {
    height: 500px;
    width: 100px;
    border: 1px solid black;
} */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.dropdn {
    margin-left: 250px;
    margin-top: 20px;
    margin-right: 250px;
    padding: 30px;
}

.slct {
    margin-top: 20px;
}